Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: improve eslint monorepo setup
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/dev/eslint/package.json
Due: prettier --write

chore: changelog update
  .changeset/fancy-islands-know.md
Due: prettier --write

chore: lock file update
  pnpm-lock.yaml
Due: none

Fix/eslint flat config monorepo (#76)
  .changeset/fancy-islands-know.md
  .lintstagedrc.json
  package.json
  pnpm-workspace.yaml
  src/dev/eslint/package.json
Due: prettier --write

fix: bring back the typescript-plugin-css-modules plugin
  .changeset/early-maps-rhyme.md
  .changeset/tricky-socks-behave.md
  src/apps/web/tsconfig.json
  src/dev/typescript/package.json
  src/dev/typescript/tsconfig.react.json
Due: prettier --write

chore: dependency update
  pnpm-lock.yaml
  src/apps/web/package.json
Due: prettier --write

Fix/typescript peer dependencies (#78)
  .changeset/early-maps-rhyme.md
  .changeset/tricky-socks-behave.md
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/tsconfig.json
  src/dev/typescript/package.json
  src/dev/typescript/tsconfig.react.json
Due: prettier --write

chore: little performance improvement
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: make the root package versionable
  .changeset/itchy-poets-shout.md
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: typo
  .changeset/itchy-poets-shout.md
Due: prettier --write

chore: create a dummy root package
  .changeset/itchy-poets-shout.md
  package.json
  pnpm-workspace.yaml
  src/dev/root/README.md
  src/dev/root/package.json
Due: prettier --write

feat: make the root package versionable (#79)
  .changeset/itchy-poets-shout.md
  package.json
  src/dev/root/README.md
  src/dev/root/package.json
Due: prettier --write

chore: eslint config cleanup
  .changeset/lemon-seas-hammer.md
  eslint.config.mjs
Due: prettier --write

chore: eslint config cleanup (#80)
  .changeset/lemon-seas-hammer.md
  eslint.config.mjs
Due: prettier --write

feat: add custom query support to search label
  src/apps/web/src/components/Header/Search/Dropdown/Dropdown.tsx
  src/apps/web/src/components/Header/Search/Dropdown/Label.tsx
  src/apps/web/src/components/Header/Search/Search.tsx
  src/apps/web/src/components/Header/Search/icons/pin.svg
  src/apps/web/src/components/Header/Search/icons/search.svg
  src/apps/web/src/components/Header/Search/icons/zone.svg
Due: eslint --fix, prettier --write --ignore-unknown

feat: query-based filtering
  src/apps/web/src/components/Header/Search/Dropdown/Dropdown.tsx
  src/apps/web/src/components/Header/Search/Dropdown/Label.tsx
  src/apps/web/src/components/Header/Search/Search.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/many-mice-go.md
Due: prettier --write

feat: Add the ability to select all data points that match the search query. (#81)
  .changeset/many-mice-go.md
  src/apps/web/src/components/Header/Search/Dropdown/Dropdown.tsx
  src/apps/web/src/components/Header/Search/Dropdown/Label.tsx
  src/apps/web/src/components/Header/Search/Search.tsx
  src/apps/web/src/components/Header/Search/icons/pin.svg
  src/apps/web/src/components/Header/Search/icons/search.svg
  src/apps/web/src/components/Header/Search/icons/zone.svg
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: strict peer dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/apps/web/package.json
  src/dev/eslint/package.json
Due: prettier --write

fix: changelog update
  .changeset/dirty-teeth-talk.md
  .changeset/legal-knives-float.md
  .changeset/stale-buses-read.md
Due: prettier --write

Fix/strict peer dependencies (#82)
  .changeset/dirty-teeth-talk.md
  .changeset/legal-knives-float.md
  .changeset/stale-buses-read.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/apps/web/package.json
  src/dev/eslint/package.json
Due: prettier --write

chore: use DOM-based color picker intead of the native one
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: fix a bug causing search results no to be unique
  src/apps/web/src/components/Header/Search/Dropdown/Dropdown.tsx
  src/apps/web/src/components/Header/Search/Search.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/chatty-walls-worry.md
Due: prettier --write

Fix/search results uniqueness (#83)
  .changeset/chatty-walls-worry.md
  src/apps/web/src/components/Header/Search/Dropdown/Dropdown.tsx
  src/apps/web/src/components/Header/Search/Search.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

feat: add layers download buttons
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: drop canvas web worker
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/CanvasMap/canvasDrawer.ts
  src/apps/web/src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: improve config editor performance
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: add color to json-stringified settings
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix dropdown alignment
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix textarea json schema validation and add a missing color property to the model
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
  src/apps/web/src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: wip
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/src/components/Map.tsx
  src/apps/web/src/components/map.css
  src/apps/web/src/components/map.svg
  src/apps/web/src/vite-env.d.ts
  src/apps/web/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: use svg map as css background
  src/apps/web/src/components/Map.tsx
  src/apps/web/src/components/map-background.svg
  src/apps/web/src/components/map.svg
  src/apps/web/src/store.ts
  src/apps/web/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add svg offset and scale factor to dev tools
  src/apps/web/src/components/DevTool.tsx
  src/apps/web/src/components/Map.tsx
  src/apps/web/src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add todo comments
  src/apps/web/src/components/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: render yt videos for labels
  src/apps/web/asset/youtube.tsv
  src/apps/web/src/api/article.ts
  src/apps/web/src/api/data.ts
  src/apps/web/src/api/model/index.ts
  src/apps/web/src/components/App.tsx
  src/apps/web/src/components/Article/Article.tsx
  src/apps/web/src/components/Article/LocalArticle.tsx
  src/apps/web/src/components/Map.tsx
  src/apps/web/src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add node eslint config
  pnpm-lock.yaml
  src/apps/web/eslint.config.mjs
  src/dev/eslint/index.mjs
  src/dev/eslint/node.mjs
  src/dev/eslint/package.json
  src/dev/eslint/react.mjs
Due: prettier --write

chore: add docker, eslint and ts config for node
  .changeset/olive-windows-judge.md
  docker-compose.yml
  pnpm-lock.yaml
  src/apps/api/Dockerfile
  src/apps/api/eslint.config.mjs
  src/apps/api/package.json
  src/apps/api/src/index.ts
  src/apps/api/tsconfig.json
  src/apps/web/tsconfig.json
  src/apps/web/tsconfig.vite.json
  src/dev/eslint/node.mjs
  src/dev/typescript/package.json
  src/dev/typescript/tsconfig.react.json
  src/dev/typescript/tsconfig.vite.json
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: add a dummy unit test
  src/apps/api/src/index.spec.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/few-schools-fall.md
  .changeset/green-cats-brush.md
  .changeset/sad-eagles-brake.md
  .changeset/wet-sides-check.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.css) or (any of: package.json)) or (any of: *.md)
