Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write --ignore-unknown"],
  "*.css": "prettier --write",
  "package.json": "prettier --write",
  "*.md": "prettier --write"
}

Chore/prettier import order (#46)
  .changeset/fast-trees-drive.md
  .changeset/sweet-news-burn.md
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/Article/Article.tsx
  src/Article/ArticleModal.tsx
  src/Article/IframeArticle.tsx
  src/DataPoint.tsx
  src/DevTool.tsx
  src/Header/Search/Dropdown.tsx
  src/Header/Search/Search.tsx
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/api/index.ts
  src/css/global.css
  src/csv/csv.spec.ts
  src/event-bus.ts
  src/js/points.js
  src/main.tsx
  src/points.ts
  src/schema/schema.spec.ts
  src/store.ts
  src/test/parser/parser.test.ts
  src/useD3Zoom.ts
  src/useWindowSize.ts
  tsconfig.app.json
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 0f9ec6c64cbdd436263eef200e06bf6135a4c3f8
  assets/index-Bkzrq8Xt.js
  assets/index-C4uWRm41.js
  assets/index-CIlVsC8v.js
  assets/index-DFv17Z6W.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

fix: restore the background color while loading the map
  .changeset/cyan-rings-bow.md
  src/App.tsx
  src/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Chore/loader color (#47)
  .changeset/cyan-rings-bow.md
  src/App.tsx
  src/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 199871f40908fe0242e6ad94fb8016ef79d57288
  assets/index-CTOxdIZ-.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: add data points hover
  src/DataPoint.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Chore/data points hover colour (#49)
  src/DataPoint.tsx
Due: eslint --fix, prettier --write --ignore-unknown

deploy: 2fde120e2578712a65b2968faa1246140f3ff5b6
  assets/index-BOSyv4ip.js
  assets/index-CTOxdIZ-.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: adjust data point tooltip position dynamically to prevent overflow
  .changeset/dry-falcons-begin.md
  .changeset/gorgeous-bears-itch.md
  src/DataPoint.tsx
  src/Header/Header.tsx
  src/Header/Search/Search.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Fix/prevent data point tooltip content overflow (#50)
  .changeset/dry-falcons-begin.md
  .changeset/gorgeous-bears-itch.md
  src/DataPoint.tsx
  src/Header/Header.tsx
  src/Header/Search/Search.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 6e92d4e7b65654d933e10c4e2ec02f8964c48775
  assets/index-BOSyv4ip.js
  assets/index-Cjya4Kfd.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: restore data points fade in on zoom
  .changeset/healthy-mirrors-destroy.md
  src/DataPoint.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Chore/fade in data points on zoom (#51)
  .changeset/healthy-mirrors-destroy.md
  src/DataPoint.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 2c96369fe35d23d3088dc20d437331e99dc4b67e
  assets/index-6F7AsJL-.js
  assets/index-Cjya4Kfd.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: move all components to ./components | drop article.js
  src/api/article.ts
  src/api/data.ts
  src/api/index.ts
  src/api/model/__test__/data.tsv
  src/api/model/__test__/keys.tsv
  src/api/model/__test__/labels.tsv
  src/api/model/index.ts
  src/api/model/schema.spec.ts
  src/api/worker.ts
  src/components/App.tsx
  src/components/Article/Article.tsx
  src/components/Article/ArticleModal.tsx
  src/components/Article/IframeArticle.tsx
  src/components/Article/LocalArticle.tsx
  src/components/DataPoint.tsx
  src/components/DataPointDetails.tsx
  src/components/DevTool.tsx
  src/components/Header/Header.tsx
  src/components/Header/Search/Dropdown.tsx
  src/components/Header/Search/Search.tsx
  src/components/Header/Search/__snapshots__/search.spec.ts.snap
  src/components/Header/Search/search.spec.ts
  src/components/Header/Search/search.ts
  src/components/Header/ZoomControls/ZoomControls.tsx
  src/components/Map.tsx
  src/event-bus.ts
  src/js/article.js
  src/main.tsx
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: move all the components to the components directory
  .changeset/breezy-boxes-clean.md
  .changeset/witty-rice-return.md
Due: prettier --write

Chore/cleanup (#52)
  .changeset/breezy-boxes-clean.md
  .changeset/witty-rice-return.md
  src/api/article.ts
  src/api/data.ts
  src/api/index.ts
  src/api/model/__test__/data.tsv
  src/api/model/__test__/keys.tsv
  src/api/model/__test__/labels.tsv
  src/api/model/index.ts
  src/api/model/schema.spec.ts
  src/api/worker.ts
  src/components/App.tsx
  src/components/Article/Article.tsx
  src/components/Article/ArticleModal.tsx
  src/components/Article/IframeArticle.tsx
  src/components/Article/LocalArticle.tsx
  src/components/DataPoint.tsx
  src/components/DataPointDetails.tsx
  src/components/DevTool.tsx
  src/components/Header/Header.tsx
  src/components/Header/Search/Dropdown.tsx
  src/components/Header/Search/Search.tsx
  src/components/Header/Search/__snapshots__/search.spec.ts.snap
  src/components/Header/Search/search.spec.ts
  src/components/Header/Search/search.ts
  src/components/Header/ZoomControls/ZoomControls.tsx
  src/components/Map.tsx
  src/event-bus.ts
  src/js/article.js
  src/main.tsx
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 10475f77458b1e8ba93527573c7a7023ab633bf5
  assets/data-Bkzrq8Xt.js
  assets/index-6F7AsJL-.js
  assets/index-B9QEs7-x.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: drop event bus and point.js dependency
  src/api/data.ts
  src/api/model/index.ts
  src/api/model/schema.spec.ts
  src/components/App.tsx
  src/components/Map.tsx
  src/event-bus.ts
  src/js/main.js
  src/js/points.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog
  .changeset/lucky-toes-watch.md
Due: prettier --write

fix: bring back data schema labels dependency
  src/api/data.ts
  src/api/model/index.ts
  src/api/model/schema.spec.ts
  src/api/utils.ts
Due: eslint --fix, prettier --write --ignore-unknown

Chore/drop event bus (#53)
  .changeset/lucky-toes-watch.md
  src/api/data.ts
  src/api/utils.ts
  src/components/App.tsx
  src/components/Map.tsx
  src/event-bus.ts
  src/js/main.js
  src/js/points.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: e67339423925968117bd5abb6284bfec28216492
  assets/data-Bkzrq8Xt.js
  assets/data-DKy0TFpU.js
  assets/index-B9QEs7-x.js
  assets/index-C4TXFVMH.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: implement data points search
  package-lock.json
  package.json
  src/api/model/schema.spec.ts
  src/components/DataPoint.tsx
  src/components/DataPoints/DataPointDetails.tsx
  src/components/DataPoints/DataPoints.module.scss
  src/components/DataPoints/DataPoints.tsx
  src/components/Header/Search/search.spec.ts
  src/components/Map.tsx
  src/test/parser/__snapshots__/parser.test.ts.snap
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: changelog update
  .changeset/cyan-wasps-invent.md
  .changeset/perfect-panthers-study.md
  .changeset/tall-countries-hear.md
  src/components/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: add github links to todos
  eslint.config.mjs
  src/api/data.ts
  src/components/Article/LocalArticle.tsx
  src/components/DataPoints/DataPointDetails.tsx
  src/components/Header/Search/search.spec.ts
  src/components/Header/Search/search.ts
  src/components/Map.tsx
  src/store.ts
  src/useD3Zoom.ts
  src/useLayersOpacity.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/early-tomatoes-collect.md
Due: prettier --write

Chore/todos (#63)
  .changeset/early-tomatoes-collect.md
  eslint.config.mjs
  src/api/data.ts
  src/components/Article/LocalArticle.tsx
  src/components/DataPoints/DataPointDetails.tsx
  src/components/Header/Search/search.spec.ts
  src/components/Header/Search/search.ts
  src/components/Map.tsx
  src/store.ts
  src/useD3Zoom.ts
  src/useLayersOpacity.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: migrate from npm to pnpm
  .github/workflows/ci.yml
  .github/workflows/dev-release.yml
  .github/workflows/gh-pages-release.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: enable corepack
  .github/workflows/ci.yml
  .nvmrc
  Dockerfile
  README.md
  package.json
Due: prettier --write

chore: enable corepack
  .github/workflows/ci.yml
Due: none

chore: enable corepack for the remaining workflows
  .changeset/fifty-berries-shave.md
  .changeset/rude-lies-relate.md
  .github/workflows/gh-pages-release.yml
  .github/workflows/release.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Feat/pnpm (#64)
  .changeset/fifty-berries-shave.md
  .changeset/rude-lies-relate.md
  .github/workflows/ci.yml
  .github/workflows/dev-release.yml
  .github/workflows/gh-pages-release.yml
  .github/workflows/release.yml
  .nvmrc
  Dockerfile
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

deploy: 14edc867ace0993f88e6602a2d84d83219e10797
  assets/data-DYbzvnC9.js
  assets/data-Dl9_pOnh.js
  assets/index-BDixpmSw.js
  assets/index-DsaBTmd4.js
  assets/marked.esm-BRZfLOiL.js
  assets/marked.esm-Cw3B86Kh.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: drop js-specific ESLint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/api/model/index.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write
