Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write --ignore-unknown"],
  "*.css": "prettier --write",
  "package.json": "prettier --write",
  "*.md": "prettier --write"
}

chore: multiple maps instances
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/CanvasMaps.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/canvasDrawer.ts
  src/components/CanvasMap/drawOnCanvas.ts
  src/components/CanvasMap/store.ts
  src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown

deploy: 9c66f5ddfeaf872f8fa27c5b5effe20f1286558e
  assets/drawOnCanvas-D7aS6YxR.js
  assets/drawOnCanvas-DybPUwkW.js
  assets/index-BLe58Iz6.js
  assets/index-C4uKyIxZ.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: smooth scroll
  src/components/CanvasMap/CanvasMaps.tsx
Due: eslint --fix, prettier --write --ignore-unknown

deploy: 332d86afe22010db2a30dc3fe04d5e256f01662e
  assets/index-kvRWDhqE.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: some styling
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/CanvasMaps.tsx
Due: eslint --fix, prettier --write --ignore-unknown

deploy: f9b162c2ac6cea7c9a9b51a44b67ee18763d2041
  assets/index-D0CXg7uH.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: move eslint to its own package
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/apps/web/eslint.config.mjs
  src/apps/web/package.json
  src/dev/eslint/index.mjs
  src/dev/eslint/package.json
Due: prettier --write

chore: move vitest to its own package
  .prettierrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/src/api/model/schema.spec.ts
  src/apps/web/src/components/Header/Search/search.spec.ts
  src/apps/web/src/csv/collector.spec.ts
  src/apps/web/src/csv/csv.spec.ts
  src/apps/web/src/test-utils/request-interception.ts
  src/apps/web/src/test/parser/parser.test.ts
  src/dev/eslint/package.json
  src/dev/vitest/package.json
  src/dev/vitest/src/index.ts
  src/dev/vitest/tsconfig.app.json
  src/dev/vitest/tsconfig.json
  src/dev/vitest/tsconfig.node.json
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: move typescript to its own package
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/tsconfig.json
  src/apps/web/tsconfig.node.json
  src/apps/web/tsconfig.react.json
  src/dev/typescript/package.json
  src/dev/typescript/tsconfig.node.json
  src/dev/typescript/tsconfig.react.json
Due: prettier --write

chore: update vite package tsconfig
  src/dev/vitest/tsconfig.app.json
  src/dev/vitest/tsconfig.json
  src/dev/vitest/tsconfig.node.json
Due: none

chore: move CHANGELOG.md from root to src/apps/web
  src/apps/web/CHANGELOG.md
Due: prettier --write

chore: github actions update
  .github/workflows/ci.yml
Due: none

chore: dockerfile update
  src/apps/web/Dockerfile
Due: none

chore: changelog update & readme update
  .changeset/eighty-bees-happen.md
  .changeset/many-sites-write.md
  .changeset/nice-masks-hang.md
  .changeset/shiny-kiwis-count.md
  README.md
Due: prettier --write

chore: turbo.json update
  package.json
Due: prettier --write

chore: post-merge fixes
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
  src/apps/web/src/components/CanvasMap/canvasDrawer.ts
  src/apps/web/src/components/CanvasMap/drawOnCanvas.ts
  src/apps/web/src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: post-merge fixes
  src/apps/web/package.json
Due: prettier --write

chore: lock file update
  pnpm-lock.yaml
Due: none

chore: gitignore update
  .gitignore
Due: none

chore: changelog update
  .changeset/flat-owls-lick.md
Due: prettier --write

chore: changelog manual formatting
  src/apps/web/CHANGELOG.md
Due: prettier --write

chore: dev mode type checking
  .changeset/new-stars-give.md
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: dev mode type checking (#75)
  .changeset/new-stars-give.md
  pnpm-lock.yaml
  src/apps/web/package.json
  src/apps/web/vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

feat: add collapsable config editors
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/DevTool.tsx
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
  src/apps/web/src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add 1-bit mode color selection
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
  src/apps/web/src/components/CanvasMap/drawOnCanvas.ts
  src/apps/web/src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: stacked canvas maps
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/CanvasMap/drawOnCanvas.ts
  src/apps/web/src/components/CanvasMap/store.ts
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: eslint
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: restore hash router
  src/apps/web/src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: some styling fixes
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: some styling fixes
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add ability to toggle map layers on and off
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/CanvasMap/drawOnCanvas.ts
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: toggle layer editors on hover
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/CanvasMap/ConfigEditor.tsx
  src/apps/web/src/components/TogglablePanel/TogglablePanel.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add position reset button
  src/apps/web/src/components/CanvasMap/CanvasMap.tsx
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
  src/apps/web/src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: reset size
  src/apps/web/src/components/CanvasMap/CanvasMaps.tsx
Due: eslint --fix, prettier --write --ignore-unknown
