Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: making eslint happy
  src/components/DataPoints/DataPointDetails.tsx
  src/components/Header/Search/Dropdown.tsx
  src/components/Header/Search/Search.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/silent-donkeys-sip.md
Due: prettier --write

chore: changelog update
  .changeset/thick-carrots-notice.md
Due: prettier --write

fix: bring back eslint rules
  eslint.config.mjs
Due: none

chore: fix rules merging issue
  eslint.config.mjs
Due: none

Feat/56/drop js eslint (#65)
  .changeset/silent-donkeys-sip.md
  .changeset/thick-carrots-notice.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/api/model/index.ts
  src/components/DataPoints/DataPointDetails.tsx
  src/components/Header/Search/Dropdown.tsx
  src/components/Header/Search/Search.tsx
  src/vite-env.d.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: b3f802712e3041f2bc6d939f82a476cf33641076
  assets/data-DOT6nqNL.js
  assets/data-DYbzvnC9.js
  assets/index-BlZDssD-.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: bump react to v19
  .changeset/angry-trains-hide.md
  package.json
  pnpm-lock.yaml
  src/useD3Zoom.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: bump react to v19 (#66)
  .changeset/angry-trains-hide.md
  package.json
  pnpm-lock.yaml
  src/useD3Zoom.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: e8468898a6d34dcc86364938101d2a06e4fc0f2f
  assets/index-BlZDssD-.js
  assets/index-DvtYgXD9.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

fix: change /map_of_science/ to /map-of-science/
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/flat-ghosts-tell.md
Due: prettier --write

Fix/public url update (#68)
  .changeset/flat-ghosts-tell.md
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: a87c7de5765f53cc2138e8aeceace05e96ef2483
  assets/data-DCXoactT.js
  assets/index-BWpnWg33.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

wip: quad tree
  src/components/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: quad tree wip
  src/components/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: quad tree benchmark
  src/components/Map.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: search results ux improvements
  .changeset/empty-crabs-remain.md
  src/components/Article/ArticleModal.tsx
  src/components/Header/Search/Dropdown.tsx
  src/components/Header/Search/Search.tsx
  src/components/Header/Search/search.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

feat: search results ux improvements (#69)
  .changeset/empty-crabs-remain.md
  src/components/Article/ArticleModal.tsx
  src/components/Header/Search/Dropdown.tsx
  src/components/Header/Search/Search.tsx
  src/components/Header/Search/search.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 1f85191268dbd210a59f31a9eb60f0501000e6cd
  assets/index-BWpnWg33.js
  assets/index-zIpFX7RJ.js
  assets/search-CkofT_GP.js
  assets/search-DrFY_8cD.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

wip
  package.json
  pnpm-lock.yaml
  src/components/CanvasMap.tsx
  src/components/drawOnCanvas.ts
  src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

wip
  src/components/CanvasMap.tsx
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
  src/components/drawOnCanvas.ts
  src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown

wip
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

wip
  .github/workflows/gh-pages-release.yml
  tsconfig.app.json
Due: none

deploy: e62d2c2ffe5f66104d0f9d26d946e54fc94f4fb9
  assets/index-BAcCWuR7.js
  assets/index-zIpFX7RJ.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: hash router
  src/components/CanvasMap/drawOnCanvas.ts
  src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown

deploy: 8d1e941a4edb1c168fa80d4e10ecadc0f364e8aa
  assets/index-BAcCWuR7.js
  assets/index-F56nI028.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: web worker canvas render
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

deploy: ff042f4c4e7eeace005f8c002bbc86ed9fc7db65
  assets/drawOnCanvas-Dg720zm9.js
  assets/index-C1qSuhL_.js
  assets/index-F56nI028.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: add layers on/off toggle
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

deploy: 124479a7f7e0aee67895d7bfc5fff784e083f5d2
  assets/drawOnCanvas-Dg720zm9.js
  assets/drawOnCanvas-lkN5xeQX.js
  assets/index-C1qSuhL_.js
  assets/index-DsAcd01F.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

feat: blur
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: zoom and pan
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

deploy: b791739fe6aef88eabbc30ce9a016756a1a48ac1
  assets/drawOnCanvas-BtXXArvC.js
  assets/drawOnCanvas-lkN5xeQX.js
  assets/index-DTHZ4h5N.js
  assets/index-DsAcd01F.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove console log
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: zoom/pan reset
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
Due: eslint --fix, prettier --write --ignore-unknown

deploy: ee00ed772f3c888fca2f820f6bd96863524011ed
  assets/drawOnCanvas-BtXXArvC.js
  assets/drawOnCanvas-C_blZWhC.js
  assets/index-BxiDm5dN.js
  assets/index-DTHZ4h5N.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

feat: one bit color mode
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/drawOnCanvas.ts
  src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

deploy: e0c6a9a2a3d6991407f58088f8e141c6c51e9041
  assets/drawOnCanvas-C_blZWhC.js
  assets/drawOnCanvas-DybPUwkW.js
  assets/index-BxiDm5dN.js
  assets/index-C4uKyIxZ.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

feat: store state serialziation
  src/components/CanvasMap/CanvasMap.tsx
  src/components/CanvasMap/ConfigEditor.tsx
  src/components/CanvasMap/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.css) or (any of: package.json)) or (any of: *.md)
